# Pipfile
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"
pandas = "*"

[requires]
python_version = "3.9"
