# Pipfile
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"
pandas = "*"
neuronpedia = {version = "*", extras = [], install_flags = ["--no-deps"]}


[pipenv]
allow_prereleases = false